body, table {
	font-family: verdana; font-size: 8pt;
};
.page_header {
	background-color: #0000aa; padding: 3px; margin-bottom: 10px; color: #ffffff;
}
.page_header_prefix {
	font-family: verdana; font-size: 8pt; color: #ffffff;
	font-weight: bold;
}
.page_header_title {
	font-family: verdana; font-size: 8pt; color: #ffffff;
	padding-left: 10px;
}
.page_header_link a {
	font-family: verdana; font-size: 8pt; color: #ffffff;
	text-decoration: none;
}
.input {
	font-family: verdana; font-size: 8pt; color: #0000ff;
	text-decoration: underline; background-color: transparent;
	border-style: none;
}
.article_title {
	font-family: verdana; font-size: 16pt; color: #000000;
}
.article_credits {
	font-family: verdana; font-size: 8pt; color: #000000;
}