body { 
    padding: 10px;
    background-color: #F0F0F0;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
} 

.center { 
    text-align: center; 
} 

table {
    margin: auto;
    text-align: left;
    background-color: #FFFFFF;
} 
     
.maintable {
    border: 2px solid #376EAB;
} 

.margin {
    margin: 20px;
} 

.innertable {
    margin: auto;
    background-image: url('http://nsis.sourceforge.net/images/back.gif');
    background-repeat: no-repeat;
	background-position: 370px 140px;
}

p, li {
    margin: 12px;
    font-size: 10pt;
} 
     
.smalltext {
    font-size: 8pt;
    color: #666666;
} 
     
a:link, a:visited, a:active {
    color: #7A7272;
    text-decoration: none;
} 
     
a:hover {
    color: #303030;
    text-decoration: none;
} 

.header {
    margin: 20px;
    font-size: 19pt;
    text-align: center;
} 
     
.image {
    border: 0px;
} 

ul {
	font-size: 11px;
    list-style-type: disc;
    padding: 0px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
}