
Options -Indexes
RewriteEngine On



#
# Public permalink redirects
#

# NSIS Menu:
RewriteRule ^Slack$ https://nsis.sourceforge.io/Community#Slack [R=302,NC,L]
RewriteRule ^Chat[/]?$ https://discord.com/channels/799410689462501396/ [R=302,NC,L]
# MakeNSISW:
RewriteRule ^Donate[/]?$ https://sourceforge.net/donate/index.php?group_id=22049 [R=302,NC,L]



#
# Other useful redirects
# (These have not been publicly shared. If you share one, move it to a different section with a comment.)
#

RewriteRule ^InteractiveSupport[/]?$ /r/Slack [R=302,NC,L]
RewriteRule ^License[/]?$ /License [R=302,NC,L]
RewriteRule ^BBS[/]?$ http://forums.winamp.com/forumdisplay.php?forumid=65 [R=302,NC,L]
RewriteRule ^CI[/]?$ https://github.com/kichik/nsis/actions?query=workflow:CI [R=302,NC,L]
RedirectMatch 302 (?i)/IRC[/]?$ irc://irc.landoleet.org/nsis
